body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  position: relative;
}
.header__logo{
  max-width: 350px;
  width: 100%;
  position: relative;
  z-index: 101;
}
.header__logo img{
  width: 100%;
}
.bgaund {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.footer__logo{
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
.footer__logo img{
  width: 100%;
}
.bgaund::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #091343 0%, rgba(255, 255, 255, 0) 95.23%);
  opacity: 0.6;
  z-index: -1;
}

.header {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  max-width: 564px;
  width: 100%;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
  transition: 0.3s;
}
.header__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #11df99;
  left: 0;
  top: 100%;
  transition: 0.3s;
}
.header__link:hover {
  color: #11df99;
}
.header__link:hover::after {
  width: 100%;
}
.header__link.active {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #11df99;
  transition: 0.3s;
}
.header__link.active:hover {
  color: #fff;
}
.header__link.active::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  left: 0;
  top: 100%;
  transition: 0.3s;
}
.header__link.active:hover::after {
  width: 100%;
}
.main__bgraund-inner {
  padding-top: 125px;
  padding-bottom: 145px;
  max-width: 526px;
  width: 100%;
  position: relative;
  z-index: -1;
}
.main__bgraund-title {
  padding-bottom: 56px;
}
.main__bgraund-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
}
.main__bgraund-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bgraund__btn {
  max-width: 250px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #11df99;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  transition: 0.3s;
}
.bgraund__btn:hover {
  color: #11df99;
  background: #ffffff;
}
.bgraund__btn.active {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 30px;
  color: #11df99;
  transition: 0.3s;
}
.bgraund__btn.active:hover {
  color: #fff;
  background: #11df99;
  opacity: 1;
}
.products {
  margin-top: 72px;
}
.products__title-item {
  text-align: center;
}
.products__inner{
  margin-top: 230px;
}
.products__subtitle {
  padding-bottom: 24px;
}
.products__subtitle p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
}
.products__header h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #170772;
}
.products__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 146px;
}
.products__item-bg1 {
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  max-width: 838px;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  opacity: 0.8;
  border-radius: 0px 20px 20px 0px;
  z-index: -1;
}
.products__item-bg2 {
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  max-width: 503px;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  opacity: 0.8;
  border-radius: 20px 0px 0px 20px;
  z-index: -1;
}
.products__item-bg3 {
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  max-width: 498px;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  opacity: 0.8;
  border-radius: 0px 20px 20px 0px;
  z-index: -1;
}
.products__item-bg1::before {
  content: "";
  position: absolute;
  right: 279px;
  top: -25px;
  z-index: -1;
  width: 48px;
  height: 48px;
  background: #11df99;
  border-radius: 10px;
}
.products__item-bg2::before{
  content: "";
  position: absolute;
  left: -88%;
  bottom: 8%;
  z-index: -1;
  width: 93px;
  height: 93px;
  background: #25A5B1;
  border-radius: 10px;
}
.products__item-bg4{
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  max-width: 503px;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  opacity: 0.8;
  border-radius: 20px 0px 0px 20px;
  z-index: -1;
}
.products__item-bg4::before{
  content: "";
  position: absolute;
  left: -12%;
  bottom: 4%;
  z-index: -1;
  width: 56px;
  height: 56px;
  background: #11df99;
  border-radius: 10px;
  z-index: -1;
}
.products__item-bg5{
  overflow-x: hidden;
  position: absolute;
  right: 0;
  max-width: 503px;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  opacity: 0.8;
  border-radius: 20px 0px 0px 20px;
  z-index: -1;
}
.products__item-img img{
  box-shadow: 1px 1px 10px .5px #091343;
  border-radius: 8px;
  max-width: 605px;
  width: 100%;
}
.products__item-bg5::before{
  content: "";
  position: absolute;
  left: -120%;
  bottom: 4%;
  z-index: -1;
  width: 56px;
  height: 56px;
  background: #25A5B1;
  border-radius: 10px;
}
[data-aos=fade-left] {
  transform: translate3d(0px,0,0);
}
.products__item-info {
  position: relative;
  max-width: 416px;
  width: 100%;
  margin: 0 80px;
}
.products__item-info::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -25px;
  width: 18px;
  height: 18px;
  background: #4059d1;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.products__item-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 20px 0;
  color: #4f4f4f;
}
.software{
  margin-top: 150px;
  max-width: 1920px;
  width: 100%;
  height: 690px;
  background: #4059D1;
}
.software__header{
  padding-top: 64px;
}
.software__header{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.software__info{
  padding-top: 48px;
  position: relative;
}
.software__info p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.software__info p span{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.software__info::after{
  content: '';
  position: absolute;
  right: 0;
  top: 38%;
  background: url('../img/software-svg.svg') no-repeat center;
  background-size: cover;
  max-width: 763px;
  width: 100%;
  height: 370px;
}
.software__info::before{
  content: '';
  position: absolute;
  right: 0;
  top: 38%;
  background: url('../img/pc.png') no-repeat center;
  background-size: cover;
  max-width: 763px;
  width: 100%;
  height: 570px;
  z-index: 1;
}
footer{
  position: relative;
}
footer::before{
  content: '';
  position: absolute;
  background: url('../img/footer-bg.svg') no-repeat center;
  right: 0;
  top: -170px;
  max-width: 442px;
  width: 100%;
  height: 900px;
}
.footer__inner{
  margin-top: 170px;
  text-align: center;
  position: relative;
}
.footer__logo{
  padding-bottom: 36px;
}
.footer__sublogo{
  max-width: 649px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 64px;
}
.footer__sublogo p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.footer__button{
  padding-bottom: 122px;
}
.footer__button p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #25A5B1;
  padding-bottom: 24px;
}
.footer__button a{
  max-width: 315px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #25A5B1;
  box-sizing: border-box;
  border-radius: 25px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #25A5B1;
  transition: .3s;
}
.footer__button a:hover{
  background: #25A5B1;
  color: #fff;
}
.footer__menu{
  padding-bottom: 56px;
}
.footer__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}
.footer__link{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  position: relative;
  transition: .3s;
}
.footer__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #11df99;
  left: 0;
  top: 100%;
  transition: 0.3s;
}
.footer__link:hover {
  color: #11df99;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__contacts{
  padding-bottom: 91px;
}
.footer__contacts{
  display: flex;
  flex-direction: column;
}
.footer__tel{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  transition: 0.3s;
}
.footer__tel:hover {
  color: #11df99;
}
.footer__tel span{
  padding-right: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}
.gits{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gits__menu{
  max-width: 330px;
  width: 100%;
}
.gits__menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gits__link{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #6A7E89;
}
.gits__link:hover{
  color: #11df99;
}
.gits__right{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #6A7E89;
}
.burger__menu{
  display: none;
}